html,
body {
  font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  background-color: $colour-white;
  font-size: 14px;

  padding: 0px;

  select {
    font-family: "Segoe UI";
    color: $colour-main;
  }
}
