.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $colour-overlay-transparency;
  display: flex;
  align-items: center;
  justify-content: center;

  .enter-done {
    opacity: 1;
    pointer-events: visible;
  }

  .exit {
    opacity: 0;
  }
}

// .modal.enter-done {
//   opacity: 1;
//   pointer-events: visible;
// }

// .modal.exit {
//   opacity: 0;
// }

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-content {
  width: 500px;
  background-color: $colour-white;
  border: 1px solid $colour-verde-gris;
  border-radius: 10px;
}

.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid $colour-verde-gris;
  border-bottom: 1px solid $colour-verde-gris;
}
