$colour-white: #fff;
$colour-border-grey: #767676;
$colour-main: #3b3b3b;
$colour-dark-grey: #252525;

$colour-verde-gris: #8ec4b9;
$colour-verde-gris-dark: #6e9990;
$colour-verde-gris-light: #b8fff0;
$colour-red-alert: #ed5b51;

$colour-overlay-transparency: rgba(0, 0, 0, 0);
