$colour-border-grey: #767676;
$colour-main: #3b3b3b;

$colour-verde-gris: #8ec4b9;
$colour-verde-gris-dark: #6e9990;
$colour-verde-gris-light: #b8fff0;
$colour-red-alert: #ed5b51;

$colour-overlay-transparency: rgba(0, 0, 0, 0);

$white: #fff;
$gray-100: #f3f4f6;
$gray-300: #d1d5db;
$gray-400: #94a3b8;
$gray-500: #6b7280;
$gray-700: #374151;
$gray-900: #111827;
$slate-700: #334155;
$slate-800: #1e293b;
$teal-500: #14b8a6;
$teal-300: #5eead4;
