$colour-verde-gris: #8ec4b9;
$colour-overlay-transparency: rgba(0, 0, 0, 0);

$white: #fff;

$gray-100: #f3f4f6;
$gray-300: #d1d5db;
$gray-400: #94a3b8;
$gray-500: #6b7280;
$gray-700: #374151;
$gray-900: #111827;

$slate-700: #334155;
$slate-800: #1e293b;

$teal-300: #5eead4;
$teal-500: #14b8a6;
$teal-700: #0f766d;

$rose-500: #f43f5d;
