// button {
//   background-color: $colour-verde-gris;
//   color: $white;
//   border: none;
//   border-radius: $radius-s;
//   min-height: 30px;
//   min-width: 65px;
//   padding-left: $spacing-m;
//   padding-right: $spacing-m;
//   margin-left: $spacing-s;
//   margin-right: $spacing-s;
//   font-size: 16px;

//   &:hover {
//     background-color: $colour-verde-gris-dark;
//   }

//   &:disabled {
//     background-color: $colour-verde-gris-light;
//   }
// }

// .submit-button {
//   min-width: 80px;
// }

// .close-button {
//   min-width: 80px;
// }

.button-wide {
  color: $white;
  background-color: $teal-500;
  &:hover {
    background-color: $teal-300;
  }
  &:focus {
    outline: 2px solid $slate-800 !important;
  }
  &:focus-visible {
    outline-color: $slate-800 !important;
  }
}

.override-link-style {
  color: inherit;
  text-decoration: inherit;
}

a {
  &:focus-visible {
    outline: none;
  }
}
