.button-wide {
  color: $white;
  background-color: $teal-500;
  &:hover {
    background-color: $teal-300;
  }
  &:focus {
    outline: 2px solid $slate-800 !important;
  }
  &:focus-visible {
    outline-color: $slate-800 !important;
  }
  &:disabled {
    background-color: $teal-700;
    cursor: default;
    &:hover {
      background-color: $teal-700 !important;
    }
  }
}

.override-link-style {
  color: inherit;
  text-decoration: inherit;
}

a {
  &:focus-visible {
    outline: none;
  }
}
