.form-input {
  color: $gray-900;
  border-color: $gray-300;
  &:focus {
    outline: 2px solid $slate-800;
    outline-offset: -1px;
  }
  &:focus-visible {
    outline-color: $slate-800;
  }
  &.has-error {
    outline-color: $rose-500;
  }
}

.form-input::placeholder {
  color: $gray-500;
}

.burger-menu {
  &:focus {
    outline: 2px solid $teal-300 !important;
    outline-offset: 2px;
  }
}

input {
  box-sizing: border-box;
}

textarea {
  resize: none;
  box-sizing: border-box;
  min-height: 100px;
}

.info-minor {
  font-size: 12px;
  color: $gray-900;
  &.alert {
    color: $rose-500;
  }
}
