.form-input {
  color: $colour-main;
  min-width: 200px;
  font-size: 16px;
  border-radius: $radius-s;

  &:focus-visible {
    outline-color: $colour-verde-gris;
  }

  &.has-error {
    outline-color: $colour-red-alert;
  }
}

select {
  min-height: 30px;
}

input {
  min-height: 30px;
  border-width: 1px;
  box-sizing: border-box;
  padding-left: $spacing-xs;
  border-color: $colour-border-grey;
  border-style: solid;
}

textarea {
  resize: none;
  box-sizing: border-box;
  min-height: 100px;
  font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-left: $spacing-xs;
  padding-top: 7px;
}

.form-field {
  margin-bottom: $spacing-l;
}

.feedback-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-minor {
  font-size: 12px;
  color: $colour-main;
  margin-bottom: $spacing-l;

  &.alert {
    color: $colour-red-alert;
  }
}
