.header-background {
  background-color: $slate-800;
}

.nav-container {
  min-height: 80px;
}

.logo-link {
  color: $teal-500;
  svg {
    display: block;
  }
  &:hover {
    color: $teal-300;
  }
}

.burger-menu {
  color: $gray-400;
  &:hover {
    color: $white;
    background-color: $slate-700;
  }
  &:focus {
    outline: 2px solid $teal-300 !important;
    outline-offset: 2px;
  }
}

.nav-link {
  color: $gray-700;
  &:hover {
    background-color: $gray-100;
  }
}

.nav-link-mobile {
  color: $gray-700;
  &:hover {
    color: $white;
    background-color: $gray-700;
  }
}
