.title {
  background-color: $colour-slate-800;
  height: 100px;
  color: $colour-white;
  padding: $spacing-l;

  h1 {
    margin: 0px;
  }
}

nav {
  color: $colour-slate-800;
  display: flex;
  justify-content: center;
  padding: $spacing-l;
}

.nav-link {
  color: $colour-slate-800;
  text-decoration: none;
  padding-left: $spacing-m;
  padding-right: $spacing-m;

  &:hover {
    text-decoration: underline;
  }
}

.active-nav-link {
  color: $colour-verde-gris;
}
