.radio-button {
  width: 17px;
  min-width: 17px;
  height: 17px;
  border: 1px solid $gray-500;
  border-radius: 50%;
  background-color: $white;
  position: relative;
  vertical-align: middle;
  display: inline-block;

  &.checked::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    left: 2px;
    top: 2px;
    background-color: $teal-500;
  }
}
