.radio-button {
  width: 17px;
  min-width: 17px;
  height: 17px;
  border: 1px solid;
  border-color: $colour-border-grey;
  border-radius: 50%;
  background-color: $white;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin-right: $spacing-s;

  &.checked::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    background-color: $colour-verde-gris;
  }
}
