.spinner {
  transform: scale(1);
  display: inline-block;
  > div {
    position: absolute;
    top: -1px;
    width: 6px;
    height: 2px;
    border-radius: 1px;
    transform-origin: left center;
    > div {
      width: 100%;
      height: 100%;
      background: $teal-600;
      border-radius: 1px;
      box-shadow: transparent 0px 0px 1px;
    }
  }
}

.spinner {
  > div:nth-child(1) {
    transform: rotate(0deg) translateX(8px);
    > div {
      animation: 1s linear -1s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(2) {
    transform: rotate(30deg) translateX(8px);
    > div {
      animation: 1s linear -0.916667s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(3) {
    transform: rotate(60deg) translateX(8px);
    > div {
      animation: 1s linear -0.833333s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(4) {
    transform: rotate(90deg) translateX(8px);
    > div {
      animation: 1s linear -0.75s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(5) {
    transform: rotate(120deg) translateX(8px);
    > div {
      animation: 1s linear -0.666667s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(6) {
    transform: rotate(150deg) translateX(8px);
    > div {
      animation: 1s linear -0.583333s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(7) {
    transform: rotate(180deg) translateX(8px);
    > div {
      animation: 1s linear -0.5s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(8) {
    transform: rotate(210deg) translateX(8px);
    > div {
      animation: 1s linear -0.416667s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(9) {
    transform: rotate(240deg) translateX(8px);
    > div {
      animation: 1s linear -0.333333s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(10) {
    transform: rotate(270deg) translateX(8px);
    > div {
      animation: 1s linear -0.25s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(11) {
    transform: rotate(300deg) translateX(8px);
    > div {
      animation: 1s linear -0.166667s infinite normal none running spinner-line-fade-quick;
    }
  }
  > div:nth-child(12) {
    transform: rotate(330deg) translateX(8px);
    > div {
      animation: 1s linear -0.0833333s infinite normal none running spinner-line-fade-quick;
    }
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}
